/*
____COLORS USED

Background Color (Alice Blue): #f0f8ff
Text Color (Dark Violet): #9400d3;
Primary Color (Dark Violet): #9400d3;
Secondary Color (MediumTurquoise): #48d1cc;
 */

:root {
  --background-color: #f0f8ff;
  --primary-color: #7509a8;
  --secondary-color: #48d1cc;
  --tertiary-color: #8b3d63;
  --default-font: 'Nanum Gothic Coding', sans-serif;
  --default-font-weight: 400;
  --default-font-size: 16px;
  --default-line-height: 1.6;
  --font-size-1: 30px;
  --line-height-1: 3;
  --font-weight-1: 700;
  --font-size-2: 24px;
  --font-size-3: 18px;
}

body {
  background-color: var(--background-color);
  font-family: var(--default-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height); /*font spacing (line height)*/
  color: var(--primary-color); /*font color*/
  padding: 20px;
  margin: 10px; /*margin size*/
}

/*assign properties to <h1> <h2> tags (headings)*/
h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-1);
}

h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

/*assign properties to <a> tag (anchor)*/
/*pseudo classes*/
a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--primary-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--secondary-color);
}

a:active {
  /* selected link */
  text-decoration: none;
  color: var(--secondary-color);
}

/*____BUTTON*/
/*pseudo classes*/

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.1;
}

/*____BUTTON*/
/*pseudo classes*/

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.1;
}

/*____BUTTON*/
/*classes*/

.button__primary, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: var(--font-weight-1);
}

.button__tertiary {
  background-color: var(--tertiary-color);
  color: white;
}

/*____NAVIGATION LIST*/

.navigation-list__item--active {
  text-decoration: none;
  color: var(--secondary-color);
  opacity: 0.5;
  /*font-weight: 700;*/
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 400px;
  height: auto;
  margin-right: 40px;
  border-radius: 20%;
}


/*____FLEXBOX*/

/*"*"is a universal selector!*/
/*applies to all html styling elements*/
* {
  box-sizing: border-box;
}

/*create flexbox container*/
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.animation-drawing {
  display: flex;
  width: 100%;
}

.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}


/*GRID*/

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: grid;
   /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;

 }
 .grid__item {
   background-color: white;
   width: auto;
   min-height: auto;
   text-align: center;
   border-radius: 10%;
   padding: 20px;
   margin: 0;
 }
 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
 }
}

/*____ANIMATION*/

@keyframes color-change-1 {
  0% {
    fill: #a2f2b0;
  }
  50% {
    fill: #fcb78a;
  }
  100% {
    fill: #aed4d4;
  }
}

.fill-1 {
  animation-duration: 10s;
  animation-name: color-change-1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-2 {
  0% {
    fill: #a2f2b0;
  }
  50% {
    fill: #670067;
  }
  100% {
    fill: #f6aecf;
  }
}

.color-1:hover {
  animation-duration: 10s;
  animation-name: color-change-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*____MEDIA QUERIES*/

@media all and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .profile__portrait {
    width: 300px;
    height: auto;
  }
}
@media all and (min-width: 600px) and (max-width: 950px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 950px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
}
